<div class="main">

<h3 class="text-center">Hello, I am VICTOR, your coach, what do you want?</h3>
<form action="answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>

</div>
